<% include partials/_header %>
<!-- Map div -- the browse-map-section -->
<div id='browse-map-section' style="width: 100%; height: 800px;"></div>
<form method="POST" action="/restaurants">
  <label for="search">Search by:</label>

  <select name="search" id="search">
    <option value="">--Please choose an option--</option>
    <option value="type">Type</option>
    <option value="name">Name</option>
    <option value="waitlist">Waitlist Time</option>
  </select>

  <label for="search_value">Search value:</label>
  <input type="text" name="search_value">

  <button type="submit">Submit</button>
</form>

<% for (let restaurant of restaurants) { %>
  <div class="<%= restaurant.id %>">
    <h3 class="restaurant-name"><%= restaurant.name %></h3>
    <p>Type: <%= restaurant.type %></p>
  <div class="restaurant-image">
    <img src= "<%= restaurant.image_url %>">
  </div>
    <p>
      <%= restaurant.wait_time ? `Estimated wait time: ${restaurant.wait_time} minutes` : `Estimated wait time: under 5 minutes` %>
    </p>
    <% if (restaurant.waitlist_id !== null) { %>
      <% if (bookedWith != restaurant.waitlist_id) { %>
        <% include partials/waitlist_entries/_add %>
      <% } else { %>
        <% include partials/waitlist_entries/_remove %>
        <a href="/entries" style=>View Status of Booking</a>
      <% } %>
    <% } %>
  </div>
  <div class="addressValue" style="display: none;"><%= restaurant.address %></div>
<% } %>
<% include partials/_google_maps %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcVOAEYSVHbc_M8e70aGmMm9A0Z8MO1qY&callback=initMap" async defer></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  document.getElementById("submit").addEventListener("click", () => {
      socket.emit("reload", {page: "/browse"});
  })
  document.getElementById("remove").addEventListener("click", () => {
      socket.emit("reload", {page: "/browse"});
  })
  socket.on("reload", (data)=>{
    if (data.page === "/browse"){
      window.location.reload();
    }
  })
</script>
<% include partials/_footer %>


