<% include partials/_header %>


<form method="POST" action="/restaurants" class="search-form">
  <!-- FILTER -->
  <div class="radio-toolbar">
    <input type="radio" id="type" name="search" value="type" checked>
    <label for="type"><i class="fa fa-list" aria-hidden="true"></i> Type</label>
    <input type="radio" id="name" name="search" value="name">
    <label for="name"><i class="fa fa-pencil" aria-hidden="true"></i> Name</label>
    <input type="radio" id="waitlist" name="search" value="waitlist">
    <label for="waitlist"><i class="fa fa-clock-o" aria-hidden="true"></i> Wait Time</label>
  </div>

    <!-- SEARCH -->
  <!-- <label for="search_value">Search:</label> -->
  <input type="text" name="search_value" class="search-input" placeholder=" Search">
  <!-- <button type="submit" class="search-submit"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button> -->

</form>


<!-- Map div -- the browse-map-section -->
  <div class= "map" id='browse-map-section'></div>
  <div class="container">
    <% for (let restaurant of restaurants) { %>
    <div class="card">
      <div class="addressValue" style="display: none;"><%= restaurant.address %></div>
      <div class="idValue" style="display: none;"><%= restaurant.id %></div>
      <div class="restaurant-image">
       <img src= "<%= restaurant.image_url %>">
      </div>
      <div class="container-stack" id="<%= restaurant.id %>">
        <h3 class="restaurant-name"><%= restaurant.name %></h3>
        <p><%= restaurant.type %> |
          <span><%= restaurant.wait_time ? `   ${restaurant.wait_time} Min Wait` : `  < 5 Min Wait` %></span></p>
      <% if (restaurant.waitlist_id !== null) { %>
        <% if (bookedWith != restaurant.waitlist_id) { %>
          <% include partials/waitlist_entries/_add %>
        <% } else { %>
          <% include partials/waitlist_entries/_remove %>
          <a href="/entries" style="margin: 15px;">View Status of Booking</a>
        <% } %>
      </div>
    <% } %>
    </div>
  </div>

  <% } %>
<% include partials/_google_maps %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcVOAEYSVHbc_M8e70aGmMm9A0Z8MO1qY&callback=initMap" async defer></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  socket.on("reload", (data)=>{
    if (data.page === "/browse"){
      window.location.reload();
    }
  })
  document.getElementById("submit").addEventListener("click", () => {
      socket.emit("reload", {page: "/waitlist"});
  })
  document.getElementById("remove").addEventListener("click", () => {
      socket.emit("reload", {page: "/waitlist"});
  })
</script>
<% include partials/_footer %>



