<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <link rel="stylesheet" href="/styles/main-merchant.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Main Merchant</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>

<div class =" dont-scroll">
  <div class="logo-pushdown">
    <img src="https://i.ibb.co/HY0xGPx/Logo-merchant.png">
    <body style= "background-color:#3E4A59;"></body>
    <form method="POST" action="/logout">
      <button class="logout" type="submit">Sign Out</button>
    </form>
  </div>

<body>

    <% if (entries){ let count = 0; %>
      <h2 class= "current-wait">Current Wait Time: <%= time %> Mins</h2>
        <a class ="update-waitlist" href ="/update-waitlist"><i class="fa fa-clock-o" aria-hidden="true"></i>Update Waitlist</a>
        <!-- <form action="/waitlist" method="post">
            <input class = "deactivate-waitlist" type="submit" id = "remove" value="Delete Waitlist">
        </form> -->
<h1 class = "waitlist"><i class=" fa fa-user-o" aria-hidden="true"></i>  People Waiting</h1>
</div>
<div class= "background-list">
    <% for (let entry of entries){ count++ %>
      <div class= "waitlist-entry">
      <div class="text-waitlist">
        <p name = "rank">Rank: <%= count %></p>
        <p name = "party_name">Guest: <%= entry.party_name %></p>
        <p name = "party_size">Party Size: <%= entry.party_size %></p>
      </div>
        <form action="/waitlist/delete" method="post">
            <input type ="number" name ="id" style = "display: none" value=<%= entry.id %> >
            <input class= "delete" type="submit" value="Delete Entry" id = "delete">
        </form>
      </div>
        <% }if (count === 0){ %>
          <h2>No People Waiting</h2>
        <% }} else { %>
          <a class="active_waittime" href = "/create-waitlist"><i class="fa fa-clock-o" aria-hidden="true"></i> Activate Wait List </a>
        <h2>Waitlist Deleted</h2>
    <% } %>
  </div>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
    socket.on("reload", (data)=>{
    if (data.page === "/waitlist"){
      window.location.reload();
    }
  })
  document.getElementById("remove").addEventListener("click", () => {
      socket.emit("reload", {page: "/browse"});
  })
  document.getElementById("remove").addEventListener("click", () => {
      socket.emit("reload", {page: "/browse"});
  })
  document.getElementById("remove").addEventListener("click", () => {
      socket.emit("load", {page: "/browse"});
  })
  document.getElementById("delete").addEventListener("click", () => {
      socket.emit("load", {page: "/browse"});
  })
  document.getElementById("delete").addEventListener("click", () => {
      socket.emit("reload", {page: "/browse"});
  })
</script>
<% include partials/_footer %>
