<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>Merchant Landing</title>
</head>
<body>
    <a href = "/create-waitlist">Create New Waitlist</a>
    <a href = "/update-waitlist">Add New Waitlist Entry</a>
    <h1>Wait time: <%= time %></h1>
    <form action="/waitlist" method="post">
        <input type="submit" value="Delete Waitlist">
    </form>


    <h1>Waitlist</h1>
    <% if (entries){ let count = 1; %>
    <% for (let entry of entries){ %>
        <h1>Rank: <%= count %></h1>
        <h1><%= entry.party_name %></h1>
        <h1><%= entry.party_size %></h1>
        <form action="/waitlist/delete" method="post">
            <input type ="number" name ="id" style = "display: none" value=<%= entry.id %> >
            <input type="submit" value="Delete Entry">
        </form>
        <% count++ }} else { %>
            <h2>No Waitlist</h2>
        <% } %>
</body>
</html>