<% include partials/_header %>

<h3>Confirmed with <%= data.name %></h3>
<h3>Phone number: <%= data.phone_number %></h3>
<h3>Address: <%= data.address %></h3>
<h3>Time remaining: <%= data.minutes %> minutes, <%= data.seconds %> seconds</h3>

<a href="/entries?_method=DELETE"> X Cancel Reservation</a>

<a href='/restaurants'>Back to Restaurants</a>

<% include partials/_footer %>
