<% include partials/_header %>

<div class="restaurant-image">
  <img src="/<%= data.image_url %>">
</div>
<h3><%= data.name %></h3>
<h3><%= data.address %></h3>
<h3><%= data.phone_number %></h3>
<h3>Your table is ready in: <%= data.minutes %> minutes</h3>
<br>
<h3>Details</h3>
<h3> Name: <%= data.party_name %> </h3>
<h3> Party Size: <%= data.party_size %> </h3>

<form method="POST" action="/entries?_method=DELETE">
  <button type="submit">Cancel Reservation</button>
</form>

<a href='/restaurants'>Back to Restaurants</a>

<% include partials/_footer %>
