<% include partials/_header %>

<a href='/restaurants' class="previous"></i>Back to Restaurants</a>

<div class="container1">
  <div class="card1">
    <div class="restaurant-image">
      <img src="/<%= data.image_url %>">
    </div>
    <%= data.name %>
    <%= data.address %>
    <%= data.phone_number %>
  </div>
</div>

<div class= "container2">
  <h3 class="details">Confirmed!</h3>
  <div class="card2">
  <h3 class="table-ready">Your table is ready in: <%= data.minutes %> minutes</h3>
  Let the host know when you arrive.
  </div>
  <h3 class ="details">Details</h3>
  <h3 class="title"> Name Party Size </h3>
    <%= data.party_name %>
    <%= data.party_size %>
  <div class="card3">
    <form method="POST" action="/entries?_method=DELETE">
      <button type="submit" id ="cancel"><i class="fa fa-times" aria-hidden="true"></i> Cancel Reservation</button>
    </form>
  </div>
</div>

<% include partials/_footer %>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
    socket.on("load", (data)=>{
    if (data.page === "/browse"){
      window.location.replace("/restaurants");
    }
  })
  document.getElementById("cancel").addEventListener("click", () => {
      socket.emit("reload", {page: "/waitlist"});
  })
</script>
