<% for (let restaurant of restaurants) { %>
  <div class ="<%= restaurant.id %>">
    <h1><%= restaurant.name %></h1>
    <p>Type: <%= restaurant.type %></p>
    <p>Wait Time: <%= restaurant.wait_time ? `${restaurant.wait_time} minutes` : `No wait time` %></p>
    <% if (restaurant.wait_time) { %>
    <form action="/restaurants/<%= restaurant.id %>" method="POST">
      <label name="party-size" for="party-size">
        Party Size:
      </label>
      <select name="party-size">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
      <div class="button" style="margin-top: 10px;">
        <button type="submit">Add to Waitlist</button>
      </div>
    </form>
    <% } %>
  </div>
<% } %>
